# TMDb Movie Data Analysis and Building a Movie Recommendation System
* # Part 1: Data Cleaning/Transformation
### In this project, we will analyze movie data from the TMDB database, and try to extract some meaningful insight from it with Exploratory Data Analysis, visualization, and DataFrame manipulations. The first part of this project will focus on cleaning and manipulating the DataFrame, extracting any valuable information and removing any data that is not needed.
### The end result will be a movie recommendation system based on movie vector similarity.

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 30

## Our data is in json format, so we will have to extract the columns/variables from json dictionary strings.

In [ ]:
df = pd.read_csv('movies_metadata.csv', low_memory=False)
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

### Dropping irrelevant columns that will not be needed.

In [4]:
df.drop(columns=['adult'], inplace=True)
df.drop(columns=['imdb_id'], inplace=True)
df.drop(columns=['original_title'], inplace=True)
df.drop(columns=['video'], inplace=True)
df.drop(columns=['homepage'], inplace=True)

## How to Handle Stringified JSON Columns
### Columns that contain dictionaries or lists are treated as strings in pandas. 
### In order to access their entries, they will be converted to their appropriate form using the **ast** module.

In [5]:
import json
import ast

In [6]:
json_col = ['belongs_to_collection', 'genres', 'production_countries', 'production_companies', 'spoken_languages']

In [7]:
df[json_col].head()

,belongs_to_collection,genres,production_countries,production_companies,spoken_languages
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_639_1': 'en', 'name': 'English'}]"
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_639_1': 'en', 'name': 'English'}]"
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_639_1': 'en', 'name': 'English'}]"

In [8]:
for column in json_col:
    print(f"Column Name: {column}\nEntry: {df[column][0]}\nOriginal dtype: {type(df[column][0])}")
    df[column] = df[column].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)
    print(f"New dtype: {type(df[column][0])}\n{'='*40}")

Column Name: belongs_to_collection
Entry: {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
Original dtype: <class 'str'>
New dtype: <class 'dict'>
========================================
Column Name: genres
Entry: [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
Original dtype: <class 'str'>
New dtype: <class 'list'>
========================================
Column Name: production_countries
Entry: [{'iso_3166_1': 'US', 'name': 'United States of America'}]
Original dtype: <class 'str'>
New dtype: <class 'list'>
========================================
Column Name: production_companies
Entry: [{'name': 'Pixar Animation Studios', 'id': 3}]
Original dtype: <class 'str'>
New dtype: <class 'list'>
========================================
Column Name: spoken_languages
Entry: [{'iso_639_1': 'en', 'name': 'English'}]
Original dtype: <class 'str'>
New dtype: <class 'list'>
========================================

### The end result is that all of the JSON columns that were not accessible due to being read as strings are now in the form of either a list or a dictionary, and are ready to be accessed/have their values extracted.

In [9]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

## Extracting the useful information from each JSON column.

In [46]:
for column in json_col:
    print(f'Column "{column}": {df[column][2]}\n{"="*100}')

Column "belongs_to_collection": {'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}
====================================================================================================
Column "genres": [{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]
====================================================================================================
Column "production_countries": [{'iso_3166_1': 'US', 'name': 'United States of America'}]
====================================================================================================
Column "production_companies": [{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]
====================================================================================================
Column "spoken_languages": [{'iso_639_1': 'en', 'name': 'English'}]
====================================================================================================

### Each one of the JSON columns has a "name" variable that is an attribute of each column. (ex. "Romance" under "genres", "en" under "spoken_languages", etc.)
### This for loop checks the data type of each column. If it's in dictionary format, there is going to be only one "name" key for that row/column. If it's in a dictionary format, then there might be multiple "name" keys for each dictionary in that list, which will be combined using a pipe ("|") symbol where applicable.

In [10]:
for column in json_col:
    if type(df[column][0]) == list:
            df[column] = df[column].apply(lambda x: '|'.join(i['name'] for i in x)  if isinstance(x, list) else np.nan)
    else:
           df[column] = df[column].apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

### Here is the end result for a specific row and each column that was converted. (Compare to same code above)

In [11]:
for column in json_col:
    print(f'Column "{column}": {df[column][2]}\n{"="*100}')

Column "belongs_to_collection": Grumpy Old Men Collection
====================================================================================================
Column "genres": Romance|Comedy
====================================================================================================
Column "production_countries": United States of America
====================================================================================================
Column "production_companies": Warner Bros.|Lancaster Gate
====================================================================================================
Column "spoken_languages": English
====================================================================================================

## Replacing blank entries with NaN

### Some of the rows have empty strings for each column attribute.

In [12]:
for column in json_col:
    print(f"*** {column} ***")
    print(f"{df[column].value_counts(dropna=False).head()}\n{'='*50}")

*** belongs_to_collection ***
NaN                              40975
The Bowery Boys                     29
Totò Collection                     27
James Bond Collection               26
Zatôichi: The Blind Swordsman       26
Name: belongs_to_collection, dtype: int64
==================================================
*** genres ***
Drama            5000
Comedy           3621
Documentary      2723
                 2442
Drama|Romance    1301
Name: genres, dtype: int64
==================================================
*** production_countries ***
United States of America    17851
                             6282
United Kingdom               2238
France                       1654
Japan                        1356
Name: production_countries, dtype: int64
==================================================
*** production_companies ***
                                          11875
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Name: production_companies, dtype: int64
==================================================
*** spoken_languages ***
English     22395
             3952
Français     1853
日本語          1289
Italiano     1218
Name: spoken_languages, dtype: int64
==================================================

### Using a simple for loop, each empty string will be replaced with NaN. The final result is below.

In [13]:
for column in json_col:
    df[column].replace('', np.nan, inplace=True)

In [14]:
for column in json_col:
    print(f"*** {column} ***")
    print(f"{df[column].value_counts(dropna=False).head()}\n{'='*50}")

*** belongs_to_collection ***
NaN                              40975
The Bowery Boys                     29
Totò Collection                     27
James Bond Collection               26
Zatôichi: The Blind Swordsman       26
Name: belongs_to_collection, dtype: int64
==================================================
*** genres ***
Drama            5000
Comedy           3621
Documentary      2723
NaN              2442
Drama|Romance    1301
Name: genres, dtype: int64
==================================================
*** production_countries ***
United States of America    17851
NaN                          6288
United Kingdom               2238
France                       1654
Japan                        1356
Name: production_countries, dtype: int64
==================================================
*** production_companies ***
NaN                                       11881
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Name: production_companies, dtype: int64
==================================================
*** spoken_languages ***
English     22395
NaN          3958
Français     1853
日本語          1289
Italiano     1218
Name: spoken_languages, dtype: int64
==================================================

### Some of the data columns appear as objects when in fact they should be numerical in nature.

## Converting numerical columns that appear as object into float

In [66]:
#df.budget.astype('float') # ValueError: could not convert string to float: '/ff9qCepilowshEtG2GYWwzt2bs4.jpg'

### Instead, pandas will be used to navigate around this problem by turning all the string type values into NaN.

In [53]:
df[['budget', 'id', 'popularity']].dtypes

budget        object
id            object
popularity    object
dtype: object

In [54]:
for column in ['budget', 'id', 'popularity']:
    df[column] = pd.to_numeric(df[column], errors='coerce')
df[['budget', 'id', 'popularity']].dtypes

budget        float64
id            float64
popularity    float64
dtype: object

## Replacing entries where budget or revenue equals zero with NaN and converting the scale to Millions USD

In [56]:
for column in ['budget', 'revenue']:
    print(f"*** {column} ***\n{df[column].value_counts(dropna=False).head()}\n{'='*50}")

*** budget ***
0.0           36573
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
Name: budget, dtype: int64
==================================================
*** revenue ***
0.0           38052
12000000.0       20
10000000.0       19
11000000.0       19
2000000.0        18
Name: revenue, dtype: int64
==================================================

### "budget" and "revenue" will be divided by 1 million, giving us each attribute in millions instead of single dollars. The column names will also be changed accordingly, specifying that the budget/revenue are in Millions USD.

In [57]:
for column in ['budget', 'revenue']:
    df[column] = df[column].replace(0, np.nan)
    df[column] = df[column].div(1000000)
    df.rename(columns={column: column + '_musd'}, inplace=True)
    print(f"*** {column+ '_musd'} ***\n{df[column+ '_musd'].value_counts(dropna=False).head()}\n{'='*50}")

*** budget_musd ***
NaN     36576
5.0       286
10.0      259
20.0      243
2.0       242
Name: budget_musd, dtype: int64
==================================================
*** revenue_musd ***
NaN     38058
12.0       20
11.0       19
10.0       19
2.0        18
Name: revenue_musd, dtype: int64
==================================================

### Same process for all the movies with a runtime of 0.0 minutes.

In [58]:
print(f"Original:\n{df.runtime.value_counts(dropna=False).head()}\n{'='*50}")
df.runtime.replace(0, np.nan, inplace=True)
print(f"New:\n{df.runtime.value_counts(dropna=False).head()}\n{'='*50}")

Original:
90.0     2556
0.0      1558
100.0    1470
95.0     1412
93.0     1214
Name: runtime, dtype: int64
==================================================
New:
90.0     2556
NaN      1821
100.0    1470
95.0     1412
93.0     1214
Name: runtime, dtype: int64
==================================================

## Replacing entries where vote_average equals zero with NaN

### All movies that have a "vote_count" of 0 will have "vote_average" set to NaN, to diferrentiate between movies having a low audience score and those that simply have no votes at all.

In [60]:
df.loc[df.vote_count == 0, 'vote_average'] = np.nan
df[df.vote_count == 0]['vote_average']

83      NaN
107     NaN
126     NaN
132     NaN
137     NaN
         ..
45432   NaN
45434   NaN
45452   NaN
45464   NaN
45465   NaN
Name: vote_average, Length: 2899, dtype: float64

## Converting column release_date to datetime format

### The "release_date" column will be changed to datetime format.

## Replacing entries in "overview" column where the entry explicates missing overview

In [62]:
df.original_language.value_counts(dropna=False).head(20)

en    32269
fr     2438
it     1529
ja     1350
de     1080
es      994
ru      826
hi      508
ko      444
zh      409
sv      384
pt      316
cn      313
fi      297
nl      248
da      225
pl      219
tr      150
cs      130
el      113
Name: original_language, dtype: int64

In [76]:
df.title.value_counts(dropna=False).head(20)

Cinderella                       11
Hamlet                            9
Alice in Wonderland               9
Les Misérables                    8
Beauty and the Beast              8
Treasure Island                   7
A Christmas Carol                 7
The Three Musketeers              7
Blackout                          7
NaN                               6
The Forest                        6
The Stranger                      6
Macbeth                           6
Wuthering Heights                 6
The Hound of the Baskervilles     6
Bluebeard                         6
The Hunters                       6
Mother                            6
Countdown                         6
First Love                        6
Name: title, dtype: int64

In [63]:
df.overview.value_counts(dropna=False).head(10)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               954
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                              3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.      3
Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
Released                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3
Name: overview, dtype: int64

In [69]:
df.overview.replace('No overview found.', np.nan, inplace=True)
df.overview.replace('No Overview', np.nan, inplace=True)
df.overview.replace('No movie overview available.', np.nan, inplace=True)
df.overview.replace('', np.nan, inplace=True)
df.overview.replace(' ', np.nan, inplace=True)
df.overview.replace('No overview yet.', np.nan, inplace=True)
df.overview.replace('Released', np.nan, inplace=True)

## Result

In [70]:
df.overview.value_counts(dropna=False).head(5)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1107
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3
Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                               3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.       3
Name: overview, dtype: int64

### Setting the "-" values for tagline as NaN.

In [71]:
df.tagline.value_counts(dropna=False).head(10)

NaN                                   25054
Based on a true story.                    7
Trust no one.                             4
Be careful what you wish for.             4
-                                         4
Classic Albums                            3
Some doors should never be opened.        3
A Love Story                              3
Drama                                     3
Know Your Enemy                           3
Name: tagline, dtype: int64

In [72]:
df.tagline.replace('-', np.nan, inplace=True)

### The DataFrame also contains some duplicate entries.

In [73]:
print(f"Duplicate Rows:\n{df.duplicated(keep=False).value_counts()}")

Duplicate Rows:
False    45433
True        33
dtype: int64

In [74]:
df[df.duplicated(keep=False)].sort_values(by='id')

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
7345,NaN,NaN,Crime|Drama|Thriller,5511.0,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Fida cinematografica|Compagnie Industrielle et...,France|Italy,1967-10-25,0.039481,105.0,Français,Released,There is no solitude greater than that of the ...,Le Samouraï,7.9,187.0
9165,NaN,NaN,Crime|Drama|Thriller,5511.0,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Fida cinematografica|Compagnie Industrielle et...,France|Italy,1967-10-25,0.039481,105.0,Français,Released,There is no solitude greater than that of the ...,Le Samouraï,7.9,187.0
24844,NaN,NaN,Comedy|Drama,11115.0,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,Andertainment Group|Crescent City Pictures|Tag...,United States of America,2008-01-29,NaN,85.0,English,Released,NaN,Deal,5.2,22.0
14012,NaN,NaN,Comedy|Drama,11115.0,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,Andertainment Group|Crescent City Pictures|Tag...,United States of America,2008-01-29,NaN,85.0,English,Released,NaN,Deal,5.2,22.0
22151,NaN,NaN,Action|Horror|Science Fiction,18440.0,en,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,NaN,United States of America,2007-01-01,NaN,89.0,English,Released,NaN,Days of Darkness,5.0,5.0
14000,NaN,NaN,Action|Horror|Science Fiction,18440.0,en,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,NaN,United States of America,2007-01-01,NaN,89.0,English,Released,NaN,Days of Darkness,5.0,5.0
8068,NaN,NaN,Adventure|Animation|Drama|Action|Foreign,23305.0,en,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,Filmfour,France|Germany|India|United Kingdom,2001-09-23,NaN,86.0,हिन्दी,Released,NaN,The Warrior,6.3,15.0
9327,NaN,NaN,Adventure|Animation|Drama|Action|Foreign,23305.0,en,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,Filmfour,France|Germany|India|United Kingdom,2001-09-23,NaN,86.0,हिन्दी,Released,NaN,The Warrior,6.3,15.0
17229,NaN,NaN,Drama,25541.0,da,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,NaN,Sweden|Denmark,2009-10-21,NaN,90.0,Dansk,Released,NaN,Brotherhood,7.1,21.0
23044,NaN,NaN,Drama,25541.0,da,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,NaN,Sweden|Denmark,2009-10-21,NaN,90.0,Dansk,Released,NaN,Brotherhood,7.1,21.0
29374,NaN,NaN,Drama|Foreign,42495.0,en,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,Royal Shakespeare Company|Laterna Film|Athena ...,Denmark|United Kingdom,1971-02-04,NaN,137.0,English,Rumored,NaN,King Lear,8.0,3.0
15702,NaN,NaN,Drama|Foreign,42495.0,en,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,Royal Shakespeare Company|Laterna Film|Athena ...,Denmark|United Kingdom,1971-02-04,NaN,137.0,English,Rumored,NaN,King Lear,8.0,3.0
13946,NaN,NaN,Comedy,97995.0,en,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,Max Linder Productions,United States of America,1921-02-06,NaN,62.0,English,Released,NaN,Seven Years Bad Luck,5.6,4.0
40276,NaN,NaN,Comedy,97995.0,en,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,Max Linder Productions,United States of America,1921-02-06,NaN,62.0,English,Released,NaN,Seven Years Bad Luck,5.6,4.0
38871,NaN,NaN,Action|Drama|Romance|Adventure,99080.0,en,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,NaN,NaN,1931-06-21,NaN,70.0,English,Released,Actually produced during the Great Newfoundlan...,The Viking,NaN,0.0
16167,NaN,NaN,Action|Drama|Romance|Adventure,99080.0,en,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,NaN,NaN,1931-06-21,NaN,70.0,English,Released,Actually produced during the Great Newfoundlan...,The Viking,NaN,0.0
676,NaN,NaN,Drama|Romance,105045.0,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,Studio Babelsberg|Centre National de la Cinéma...,Germany,1995-02-16,NaN,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,5.0,1.0
1465,NaN,NaN,Drama|Romance,105045.0,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,Studio Babelsberg|Centre National de la Cinéma...,Germany,1995-02-16,NaN,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,5.0,1.0
19890,NaN,NaN,Fantasy|Drama|Science Fiction,119916.0,en,"Prospero, the true Duke of Milan is now living...",0.000018,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,NaN,NaN,1980-02-27,NaN,123.0,NaN,Released,NaN,The Tempest,NaN,0.0
21165,NaN,NaN,Fantasy|Drama|Science Fiction,119916.0,en,"Prospero, the true Duke of Milan is now living...",0.000018,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,NaN,NaN,1980-02-27,NaN,123.0,NaN,Released,NaN,The Tempest,NaN,0.0
13375,NaN,NaN,Thriller|Mystery,141971.0,fi,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0
13261,NaN,NaN,Thriller|Mystery,141971.0,fi,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0
16764,NaN,NaN,Thriller|Mystery,141971.0,fi,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0
19925,NaN,NaN,Drama|Science Fiction|Animation,152795.0,en,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,Pandora Filmproduktion|Entre Chien et Loup|Opu...,Belgium|France|Germany|Israel|Luxembourg|Poland,2013-05-16,0.455815,122.0,English,Released,NaN,The Congress,6.4,165.0
21854,NaN,NaN,Drama|Science Fiction|Animation,152795.0,en,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,Pandora Filmproduktion|Entre Chien et Loup|Opu...,Belgium|France|Germany|Israel|Luxembourg|Poland,2013-05-16,0.455815,122.0,English,Released,NaN,The Congress,6.4,165.0
13220,Why We Fight,NaN,Documentary,159849.0,en,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,NaN,United States of America,1943-01-01,NaN,57.0,English,Released,NaN,Why We Fight: Divide and Conquer,5.0,1.0
35798,Why We Fight,NaN,Documentary,159849.0,en,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,NaN,United States of America,1943-01-01,NaN,57.0,English,Released,NaN,Why We Fight: Divide and Conquer,5.0,1.0
13603,NaN,NaN,Drama|Comedy,168538.0,en,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,Cannon Group|Metro-Goldwyn-Mayer (MGM),NaN,1983-06-13,NaN,92.0,NaN,Released,NaN,"Nana, the True Key of Pleasure",4.7,3.0
28860,NaN,NaN,Drama|Comedy,168538.0,en,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,Cannon Group|Metro-Goldwyn-Mayer (MGM),NaN,1983-06-13,NaN,92.0,NaN,Released,NaN,"Nana, the True Key of Pleasure",4.7,3.0
24164,NaN,NaN,Comedy|Drama,265189.0,sv,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,Motlys|Coproduction Office|Film i Väst,Norway|Sweden|France,2014-08-15,1.359497,118.0,Français|Norsk|svenska|English,Released,NaN,Force Majeure,6.8,255.0
45265,NaN,NaN,Comedy|Drama,265189.0,sv,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,Motlys|Coproduction Office|Film i Väst,Norway|Sweden|France,2014-08-15,1.359497,118.0,Français|Norsk|svenska|English,Released,NaN,Force Majeure,6.8,255.0
33184,NaN,0.98,Drama|Fantasy,298721.0,th,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"Match Factory, The|Louverture Films|Tordenfilm...",United Kingdom|United States of America|France...,2015-09-02,NaN,122.0,English|ภาษาไทย,Released,NaN,Cemetery of Splendour,4.4,50.0
40040,NaN,0.98,Drama|Fantasy,298721.0,th,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"Match Factory, The|Louverture Films|Tordenfilm...",United Kingdom|United States of America|France...,2015-09-02,NaN,122.0,English|ภาษาไทย,Released,NaN,Cemetery of Splendour,4.4,50.0

### All of these movies have the same value for all of their columns. All the duplicates will be dropped.

In [76]:
df.drop_duplicates(inplace=True)

### Checking duplicates by the subset "id" finds even more duplicate rows that might have different values in some of their respective columns.

In [77]:
df[df.duplicated(subset='id', keep=False)].sort_values(by='id')

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
33826,NaN,30.000000,Comedy|Crime|Drama|Romance|Thriller,4912.0,en,"Television made him famous, but his biggest hi...",7.645827,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,Miramax Films|Allied Filmmakers|Mad Chance,United States of America,2002-12-30,33.013805,113.0,English,Released,Some things are better left top secret.,Confessions of a Dangerous Mind,6.6,281.0
5865,NaN,30.000000,Comedy|Crime|Drama|Romance|Thriller,4912.0,en,"Television made him famous, but his biggest hi...",11.331072,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,Miramax Films|Allied Filmmakers|Mad Chance,United States of America,2002-12-30,33.013805,113.0,English,Released,Some things are better left top secret.,Confessions of a Dangerous Mind,6.6,281.0
4114,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991.0,ja,When Molly Hale's sadness of her father's disa...,10.264597,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,2000-07-08,68.411275,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,6.0,143.0
44821,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991.0,ja,When Molly Hale's sadness of her father's disa...,6.480376,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,2000-07-08,68.411275,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,6.0,144.0
44826,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,12600.0,ja,"All your favorite Pokémon characters are back,...",6.080108,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,NaN,Japan|United States of America,2001-07-06,28.023563,75.0,日本語,Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,5.7,82.0
5535,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,12600.0,ja,"All your favorite Pokémon characters are back,...",7.072301,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,NaN,Japan|United States of America,2001-07-06,28.023563,75.0,日本語,Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,5.7,82.0
15765,NaN,0.002500,Drama|Comedy|Foreign,13209.0,fa,"Since women are banned from soccer matches, Ir...",1.529879,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,Jafar Panahi Film Productions,Iran,2006-05-26,NaN,93.0,فارسی,Released,NaN,Offside,6.7,27.0
11342,NaN,0.002500,Drama|Comedy|Foreign,13209.0,fa,"Since women are banned from soccer matches, Ir...",1.528960,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,Jafar Panahi Film Productions,Iran,2006-05-26,NaN,93.0,فارسی,Released,NaN,Offside,6.7,27.0
10419,NaN,1.600000,Drama|Crime|Mystery,14788.0,en,Set against the backdrop of a decaying Midwest...,3.185256,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,Magnolia Pictures|Extension 765,United States of America,2005-09-03,NaN,73.0,English,Released,NaN,Bubble,6.4,36.0
12066,NaN,1.600000,Drama|Crime|Mystery,14788.0,en,Set against the backdrop of a decaying Midwest...,3.008299,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,Magnolia Pictures|Extension 765,United States of America,2005-09-03,NaN,73.0,English,Released,NaN,Bubble,6.4,36.0
5130,NaN,26.000000,Adventure|Family|Science Fiction|Thriller,15028.0,en,"Until now, Zak Gibbs' greatest challenge has b...",5.373623,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,Paramount Pictures|Nickelodeon Movies|Valhalla...,United States of America,2002-03-17,38.793283,94.0,Český|English,Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,4.9,89.0
33743,NaN,26.000000,Adventure|Family|Science Fiction|Thriller,15028.0,en,"Until now, Zak Gibbs' greatest challenge has b...",4.920175,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,Paramount Pictures|Nickelodeon Movies|Valhalla...,United States of America,2002-03-17,38.793283,94.0,Český|English,Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,4.9,90.0
949,NaN,0.000004,Drama|Romance|War,22649.0,en,British nurse Catherine Barkley (Helen Hayes) ...,1.914697,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,Paramount Pictures,United States of America,1932-12-08,0.000025,89.0,English,Released,Every woman who has loved will understand,A Farewell to Arms,6.2,29.0
15074,NaN,0.000004,Drama|Romance|War,22649.0,en,British nurse Catherine Barkley (Helen Hayes) ...,2.411191,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,Paramount Pictures,United States of America,1932-12-08,0.000025,89.0,English,Released,Every woman who has loved will understand,A Farewell to Arms,6.2,29.0
9576,NaN,10.000000,Drama|Horror|Music|Romance|TV Movie,69234.0,en,Count de Chagnie has discovered Christine's si...,0.441872,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,Beta Film|Reteitalia|TF1|Hexatel|Saban/Scheric...,France|Germany|Italy|United States of America,1990-03-18,NaN,168.0,English|Italiano,Released,NaN,The Phantom of the Opera,5.0,3.0
26625,NaN,10.000000,Drama|Horror|Music|Romance|TV Movie,69234.0,en,Count de Chagnie has discovered Christine's si...,0.438490,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,Beta Film|Reteitalia|TF1|Hexatel|Saban/Scheric...,France|Germany|Italy|United States of America,1990-03-18,NaN,168.0,English|Italiano,Released,NaN,The Phantom of the Opera,5.0,3.0
20843,NaN,40.000000,Adventure|Drama,77221.0,en,"On the Arabian Peninsula in the 1930s, two war...",6.475665,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,France 2 Cinéma|Quinta Communications|Carthago...,France|Italy|Qatar|Tunisia,2011-12-21,5.446000,130.0,English,Released,NaN,Black Gold,5.9,77.0
11155,NaN,40.000000,Adventure|Drama,77221.0,en,"On the Arabian Peninsula in the 1930s, two war...",6.652197,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,France 2 Cinéma|Quinta Communications|Carthago...,France|Italy|Qatar|Tunisia,2011-12-21,5.446000,130.0,English,Released,NaN,Black Gold,5.9,77.0
21116,NaN,NaN,Documentary,84198.0,en,"Using personal stories, this powerful document...",1.673307,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,NaN,United States of America,2012-03-22,NaN,84.0,English,Released,One Nation. Underfed.,A Place at the Table,6.9,7.0
2564,NaN,NaN,Documentary,84198.0,en,"Using personal stories, this powerful document...",0.501046,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,NaN,United States of America,2012-03-22,NaN,84.0,English,Released,One Nation. Underfed.,A Place at the Table,6.9,7.0
20899,NaN,NaN,Drama,109962.0,en,Two literary women compete for 20 years: one w...,10.396878,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,1981-09-23,NaN,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,4.9,7.0
5710,NaN,NaN,Drama,109962.0,en,Two literary women compete for 20 years: one w...,12.180836,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,1981-09-23,NaN,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,4.9,7.0
23534,NaN,3.512454,Drama,110428.0,fr,"Winter, 1915. Confined by her family to an asy...",0.110065,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,2013-03-13,0.115860,95.0,Français,Released,NaN,Camille Claudel 1915,7.0,20.0
4356,NaN,3.512454,Drama,110428.0,fr,"Winter, 1915. Confined by her family to an asy...",0.134014,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,2013-03-13,0.115860,95.0,Français,Released,NaN,Camille Claudel 1915,7.0,20.0
30001,NaN,NaN,Drama,132641.0,ja,"Ten years into a marriage, the wife is disappo...",0.619388,/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,Toho Company,Japan,1953-04-29,NaN,89.0,日本語,Released,NaN,Wife,NaN,0.0
838,NaN,NaN,Drama,132641.0,ja,"Ten years into a marriage, the wife is disappo...",0.096079,/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,Toho Company,Japan,1953-04-29,NaN,89.0,日本語,Released,NaN,Wife,NaN,0.0
19730,NaN,NaN,Carousel Productions|Vision View Entertainment...,NaN,104.0,NaN,NaN,Midnight Man,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,NaN,NaN,Aniplex|GoHands|BROSTA TV|Mardock Scramble Pro...,NaN,68.0,NaN,NaN,Mardock Scramble: The Third Exhaust,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,NaN,NaN,Odyssey Media|Pulser Productions|Rogue State|T...,NaN,82.0,NaN,NaN,Avalanche Sharks,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df.drop_duplicates(subset='id', inplace=True)

In [79]:
df.id.value_counts(dropna=False).head(20)

862.0       1
74458.0     1
296206.0    1
107308.0    1
16247.0     1
99904.0     1
109463.0    1
116439.0    1
86541.0     1
53210.0     1
286521.0    1
150540.0    1
289716.0    1
285851.0    1
307931.0    1
250556.0    1
141884.0    1
52721.0     1
58333.0     1
223249.0    1
Name: id, dtype: int64

## Handling Missing Values & Removing Observations

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45434 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget_musd            8880 non-null   float64
 2   genres                 42992 non-null  object
 3   id                     45433 non-null  float64
 4   original_language      45423 non-null  object
 5   overview               44329 non-null  object
 6   popularity             45430 non-null  float64
 7   poster_path            45048 non-null  object
 8   production_companies   33562 non-null  object
 9   production_countries   39151 non-null  object
 10  release_date           45346 non-null  datetime64[ns]
 11  revenue_musd           7398 non-null   float64
 12  runtime                43615 non-null  float64
 13  spoken_languages       41480 non-null  object
 14  status                 45349 non-null  object
 15  tagline                20397 non-null  object
 16  title                  45430 non-null  object
 17  vote_average           42534 non-null  float64
 18  vote_count             45430 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(11)
memory usage: 6.9+ MB

In [81]:
df.isna().sum()

belongs_to_collection    40946
budget_musd              36554
genres                    2442
id                           1
original_language           11
overview                  1105
popularity                   4
poster_path                386
production_companies     11872
production_countries      6283
release_date                88
revenue_musd             38036
runtime                   1819
spoken_languages          3954
status                      85
tagline                  25037
title                        4
vote_average              2900
vote_count                   4
dtype: int64

In [82]:
df[df['title'].isna()]

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
19729,NaN,NaN,Action|Thriller|Drama,82663.0,en,British soldiers force a recently captured IRA...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19730,NaN,NaN,Carousel Productions|Vision View Entertainment...,NaN,104.0,NaN,NaN,Midnight Man,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,Mardock Scramble Collection,NaN,Animation|Science Fiction,122662.0,ja,Third film of the Mardock Scramble series.,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,NaN,NaN,TV Movie|Action|Horror|Science Fiction,249260.0,en,A group of skiers are terrorized during spring...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Rows with no "title" or "id" will also be dropped.

In [83]:
df.dropna(subset=['id', 'title'], inplace=True)

### Now that there are no null values for id, it can be transformed into integer format.

In [84]:
print(f"Before: {df.id.dtype}")
df.id = df.id.astype('int')
print(f"After: {df.id.dtype}")

Before: float64
After: int32

### All the rows that have less than 10 non-null values will be dropped from the DataFrame.

In [85]:
df.notna().sum(axis=1)

0        18
1        18
2        17
3        18
4        18
         ..
45461    14
45462    14
45463    16
45464    12
45465    12
Length: 45430, dtype: int64

In [86]:
df.notna().sum(axis=1).value_counts()

15    12522
16    11454
14     5424
17     4265
18     3859
13     3040
12     1891
19     1132
11     1020
10      511
9       184
8       104
7        20
6         4
dtype: int64

In [87]:
df.dropna(thresh=10, inplace=True)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45118 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4487 non-null   object
 1   budget_musd            8878 non-null   float64
 2   genres                 42969 non-null  object
 3   id                     45118 non-null  int32
 4   original_language      45107 non-null  object
 5   overview               44142 non-null  object
 6   popularity             45118 non-null  float64
 7   poster_path            44886 non-null  object
 8   production_companies   33561 non-null  object
 9   production_countries   39147 non-null  object
 10  release_date           45078 non-null  datetime64[ns]
 11  revenue_musd           7398 non-null   float64
 12  runtime                43552 non-null  float64
 13  spoken_languages       41462 non-null  object
 14  status                 45052 non-null  object
 15  tagline                20396 non-null  object
 16  title                  45118 non-null  object
 17  vote_average           42460 non-null  float64
 18  vote_count             45118 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), object(11)
memory usage: 6.7+ MB

In [89]:
df.isna().sum()

belongs_to_collection    40631
budget_musd              36240
genres                    2149
id                           0
original_language           11
overview                   976
popularity                   0
poster_path                232
production_companies     11557
production_countries      5971
release_date                40
revenue_musd             37720
runtime                   1566
spoken_languages          3656
status                      66
tagline                  24722
title                        0
vote_average              2658
vote_count                   0
dtype: int64

## Final Cleaning Steps

### All rows that contain movies that are not released will be dropped, since we are only interested in analyzing released movies.

In [90]:
df.status.value_counts()

Released           44691
Rumored              226
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [91]:
df = df.loc[df.status == 'Released'].copy()

In [92]:
df

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,1995-10-30,373.554033,81.0,English,Released,NaN,Toy Story,7.7,5415.0
1,NaN,65.0,Adventure|Fantasy|Family,8844,en,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,1995-12-15,262.797249,104.0,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,Grumpy Old Men Collection,NaN,Romance|Comedy,15602,en,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Warner Bros.|Lancaster Gate,United States of America,1995-12-22,NaN,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16.0,Comedy|Drama|Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81.452156,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,Father of the Bride Collection,NaN,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,76.578911,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,NaN,Drama|Family,439050,fa,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,Iran,NaT,NaN,90.0,فارسی,Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45462,NaN,NaN,Drama,111109,tl,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,Sine Olivia,Philippines,2011-11-17,NaN,360.0,NaN,Released,NaN,Century of Birthing,9.0,3.0
45463,NaN,NaN,Action|Drama|Thriller,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,American World Pictures,United States of America,2003-08-01,NaN,90.0,English,Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,NaN,NaN,NaN,227506,en,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,Yermoliev,Russia,1917-10-21,NaN,87.0,NaN,Released,NaN,Satan Triumphant,NaN,0.0
45465,NaN,NaN,NaN,461257,en,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,NaN,United Kingdom,2017-06-09,NaN,75.0,English,Released,NaN,Queerama,NaN,0.0

In [93]:
df.drop('status', axis=1, inplace=True)

### Re-organizing the columns

In [94]:
df.columns

Index(['belongs_to_collection', 'budget_musd', 'genres', 'id',
       'original_language', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue_musd', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [95]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
       "original_language", "budget_musd", "revenue_musd", "production_companies",
       "production_countries", "vote_count", "vote_average", "popularity", "runtime",
       "overview", "spoken_languages", "poster_path"]
df = df.loc[:, col].reset_index(drop=True)

In [96]:
df

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,/e64sOI48hQXyru7naBFyssKFxVd.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,NaT,Drama|Family,NaN,fa,NaN,NaN,NaN,Iran,1.0,4.0,0.072051,90.0,Rising and falling between a man and woman.,فارسی,/jldsYflnId4tTWPx8es3uzsB1I8.jpg
44687,111109,Century of Birthing,NaN,2011-11-17,Drama,NaN,tl,NaN,NaN,Sine Olivia,Philippines,3.0,9.0,0.178241,360.0,An artist struggles to finish his work while a...,NaN,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg
44688,67758,Betrayal,A deadly game of wits.,2003-08-01,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,United States of America,6.0,3.8,0.903007,90.0,"When one of her hits goes wrong, a professiona...",English,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg
44689,227506,Satan Triumphant,NaN,1917-10-21,NaN,NaN,en,NaN,NaN,Yermoliev,Russia,0.0,NaN,0.003503,87.0,"In a small town live two brothers, one a minis...",NaN,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg
44690,461257,Queerama,NaN,2017-06-09,NaN,NaN,en,NaN,NaN,NaN,United Kingdom,0.0,NaN,0.163015,75.0,50 years after decriminalisation of homosexual...,English,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg

### Changing the poster_path column into HTML format.

In [97]:
df.poster_path[0:4]

0    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1    /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2    /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3    /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
Name: poster_path, dtype: object

In [98]:
def html_image():
    img_1 = "<img src='http://image.tmdb.org/t/p/w185/"
    img_3 = "' style='height:100px;'>"
    url = ''
    for i in range(len(df)):
        if type(df.poster_path[i]) == str:
            url = str(img_1 + str(df.poster_path[i]) + img_3)
            df.loc[i, 'poster_path'] = df.loc[i, 'poster_path'].replace(df.poster_path[i], url)
        else:
            continue

html_image()

In [99]:
df.poster_path[0:4]

0    <img src='http://image.tmdb.org/t/p/w185//rhIR...
1    <img src='http://image.tmdb.org/t/p/w185//vzmL...
2    <img src='http://image.tmdb.org/t/p/w185//6ksm...
3    <img src='http://image.tmdb.org/t/p/w185//16XO...
Name: poster_path, dtype: object

### Saving the cleaned DataFrame into a csv file.

In [100]:
df.to_csv('movies_clean.csv', index=False)

## Next, credits and Cast information will be added to the DataFrame from another csv file.

In [124]:
df = pd.read_csv('movies_clean.csv', parse_dates=['release_date'])
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//rhIR...
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vzmL...
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//6ksm...
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//16XO...
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//e64s...

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  datetime64[ns]
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  float64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  overview               43740 non-null  object
 16  spoken_languages       41094 non-null  object
 17  poster_path            44467 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(10)
memory usage: 6.1+ MB

In [126]:
credits = pd.read_csv('credits.csv')
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

### credits DataFrame also contains duplicate entries, which will be removed.

In [127]:
credits[credits.duplicated(subset='id', keep=False)].sort_values('id')

,cast,crew,id
25885,"[{'cast_id': 12, 'character': 'The Creature', ...","[{'credit_id': '52fe4380c3a36847f80590dd', 'de...",3057
25950,"[{'cast_id': 12, 'character': 'The Creature', ...","[{'credit_id': '52fe4380c3a36847f80590dd', 'de...",3057
33838,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760a9', 'de...",4912
5865,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760b5', 'de...",4912
9165,"[{'cast_id': 11, 'character': 'Jef Costello', ...","[{'credit_id': '52fe440ac3a36847f807ee01', 'de...",5511
...,...,...,...
25887,"[{'cast_id': 7, 'character': 'Hollander', 'cre...","[{'credit_id': '52fe4da29251416c9111ce5d', 'de...",199591
24163,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...",265189
45275,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...",265189
33196,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5448c8efc3a3680fb4001582', 'de...",298721
40051,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5739ceeac3a3683c9d000c12', 'de...",298721

In [128]:
credits.drop_duplicates(subset='id', inplace=True)

In [129]:
df[~df.id.isin(credits.id)]

Empty DataFrame
Columns: [id, title, tagline, release_date, genres, belongs_to_collection, original_language, budget_musd, revenue_musd, production_companies, production_countries, vote_count, vote_average, popularity, runtime, overview, spoken_languages, poster_path]
Index: []

In [130]:
credits[~credits.id.isin(df.id)]

,cast,crew,id
189,"[{'cast_id': 4, 'character': 'Himself', 'credi...",[],56088
554,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4e4dc3a368484e21952d', 'de...",218473
682,"[{'cast_id': 2, 'character': 'Eunice', 'credit...","[{'credit_id': '52fe475cc3a36847f81317f7', 'de...",48260
685,"[{'cast_id': 0, 'character': 'James Bird', 'cr...","[{'credit_id': '57a321c6c3a3683fa70013d8', 'de...",277270
711,[],[],365371
...,...,...,...
45320,"[{'cast_id': 0, 'character': 'Mała metalowa dz...","[{'credit_id': '57ee6832c3a3682a2d003ccd', 'de...",418757
45323,"[{'cast_id': 0, 'character': 'Krzysiek Buk', '...","[{'credit_id': '564fd6a59251414b01005a8a', 'de...",369444
45348,[],[],335251
45420,"[{'cast_id': 1, 'character': 'Aprel', 'credit_...","[{'credit_id': '58d83051c3a368126f0567fe', 'de...",449131
45452,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...",44330

### Using a left join, both DataFrames will be joined based on the "id" column.

In [131]:
df = df.merge(credits, on='id', how='left')

In [132]:
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,crew
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//rhIR...,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vzmL...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//6ksm...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//16XO...,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//e64s...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

## Formatting stringified JSON into lists/dictionaries.

In [133]:
for column in ['cast', 'crew']:
    df[column] = df[column].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

## Getting cast and crew size for each movie.

In [134]:
df['cast_size'] = df.cast.apply(lambda x: len(x))
df['crew_size'] = df.crew.apply(lambda x: len(x))

In [135]:
df[['cast', 'crew', 'cast_size', 'crew_size']]

,cast,crew,cast_size,crew_size
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",13,106
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",26,16
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",7,4
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",10,10
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",12,7
...,...,...,...,...
44686,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",3,9
44687,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",11,6
44688,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",15,5
44689,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",5,2
44690,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",0,1

### Taking the "name" keys for cast/crew and joining them with a pipe ("|") symbol.

In [144]:
df.head(1)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,crew,cast_size,crew_size
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//rhIR...,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",13,106

In [149]:
# Renaming the json columns for differentiation with the text columns
df.rename(columns={'cast': 'cast_json','crew':'crew_json'}, inplace=True)

df['cast'] = df.cast_json.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, list) else np.nan)
df['crew'] = df.crew_json.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, list) else np.nan)

C:\Users\Andrea\AppData\Local\Temp/ipykernel_11968/1766258599.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.cast = df.cast_json.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, list) else np.nan)
C:\Users\Andrea\AppData\Local\Temp/ipykernel_11968/1766258599.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.crew = df.crew_json.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [150]:
print(f"Cast Example:\n{df.cast[0]}")
print('='*180)
print(f"Crew Example:\n{df.crew[0]}")

Cast Example:
Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette
====================================================================================================================================================================================
Crew Example:
John Lasseter|Joss Whedon|Andrew Stanton|Joel Cohen|Alec Sokolow|Bonnie Arnold|Ed Catmull|Ralph Guggenheim|Steve Jobs|Lee Unkrich|Ralph Eggleston|Robert Gordon|Mary Helen Leasman|Kim Blanchette|Marilyn McCoppen|Randy Newman|Dale E. Grahn|Robin Cooper|John Lasseter|Pete Docter|Joe Ranft|Patsy Bouge|Norm DeCarlo|Ash Brannon|Randy Newman|Roman Figun|Don Davis|James Flamberg|Mary Beth Smith|Rick Mackay|Susan Bradley|William Reeves|Randy Newman|Andrew Stanton|Pete Docter|Gary Rydstrom|Karen Robert Jackson|Chris Montan|Rich Quade|Michael Berenstein|Colin Brady|Davey Crockett Feiten|Angie Glocka|Rex Grignon|Tom K. Gurney|Jimmy Hayward|Hal T. Hickel|Karen Kiser|Anthony B. LaMolinara|Guionne Leroy|Bud Luckey|Les Major|Glenn McQueen|Mark Oftedal|Jeff Pidgeon|Jeff Pratt|Steve Rabatich|Roger Rose|Steve Segal|Doug Sheppeck|Alan Sperling|Doug Sweetland|David Tart|Ken Willard|Thomas Porter|Mark Thomas Henne|Oren Jacob|Darwyn Peachey|Mitch Prater|Brian M. Rosen|Sharon Calahan|Galyn Susman|William Cone|Shelley Daniels Lekven|Bob Pauley|Bud Luckey|Andrew Stanton|William Cone|Steve Johnson|Dan Haskett|Tom Holloway|Jean Gillmore|Desirée Mourad|Kelly O'Connell|Sonoko Konishi|Ann M. Rockwell|Julie M. McDonald|Robin Lee|Tom Freeman|Ada Cochavi|Dana Mulligan|Deirdre Morrison|Lori Lombardo|Ellen Devine|Lauren Beth Strogoff|Gary Rydstrom|Gary Summers|Tim Holland|Pat Jackson|Tom Myers|J.R. Grubbs|Susan Sanford|Susan Popovic|Dan Engstrom|Ruth Lambert|Mickie McGowan

### Creating a "director" column from the crew JSON column.

In [152]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

df['director'] = df.crew_json.apply(get_director)

In [153]:
df['director'].value_counts(dropna=False)

NaN                 731
John Ford            66
Michael Curtiz       65
Werner Herzog        54
Alfred Hitchcock     53
                   ...
Jason Osder           1
John Alan Simon       1
Jennifer Kent         1
Hiroshi Ando          1
Daisy Asquith         1
Name: director, Length: 17350, dtype: int64

In [154]:
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast_json,crew_json,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//rhIR...,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vzmL...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//6ksm...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//16XO...,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//e64s...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",12,7,Charles Shyer

### Saving the final DataFrame into a csv file.

In [155]:
df.to_csv('movies_complete.csv', index = False)

### In Part 2 of this project, we will try and gain some insight from the cleaned data about what types of movies are more popular, the average budget and revenue of the most successful movies, what genres are more popular, and many more.